.App {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f0f2f5;
  min-height: 100vh;
}

.App-header {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.App-header h1 {
  font-size: 2.5em;
  margin: 0;
}

main {
  height: calc(100vh - 120px); /* Adjust height to fit content below header */
  overflow: hidden; /* Prevent main content from overflowing */
}